#message
  if session.email
    form(method='post', action='/message', autocomplete='off', class='font#{session.userFont}')
      input(type='text', name='message', placeholder='enter your message here or type /help for more commands')
      input(type='hidden', name='topic', id='topic', value=topic)
      button(type='submit') add

#messages
  ol

#media
  ol
