/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FanwoodRegular';
    src: url('../fonts/Fanwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DeutschGothicNormal';
    src: url('../fonts/Deutsch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../fonts/CabinSketch-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MomsTypewriterRegular';
    src: url('../fonts/Moms_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d5d9cd;
    padding: 20px;
    font: 16px Helvetica, Arial, sans-serif;
}

h1 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    font-size: 1px;
    height: 46px;
    margin: 0px;
    text-indent: -9999px;
    width: 46px;
}

h1.visitor {
    padding-bottom: 20px;
}

a {
    color: #2e87c6;
    outline: none;
    text-decoration: none;
}

#header, #message {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

#info {
    position: absolute;
    right: 20px;
    top: 10px;
}

#header a, #header .connected {
    background-color: #c6ccba;
    border-radius: 3px;
    box-shadow: #b1ba9e -1px -1px 0px;
    color: #707860;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 10px;
    max-width: 85px;
    overflow: hidden;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

#messages {
    float: left;
    width: 60%;
}

#media {
    float: left;
    width: 480px;
}

ol {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ol li {
    background-color: #f2f2f2;
    clear: both;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 98%;
}

ol li span.nick {
    background-color: #8fe4f9;
    box-shadow: #3c8da1 3px 3px 0px;
    color: #274850;
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 20px;
    left: 60px;
    padding: 8px 7px 0px 7px;
    position: absolute;
    top: -5px;
}

ol li iframe, ol li audio, ol li video {
    clear: both;
    display: block;
    float: left;
    margin: 10px;
}

#messages ol li {
    text-overflow: hidden;
}

#messages ol li audio {
    width: 100px;
}

#media ol li audio {
    width: 97%;
}

#messages ol li video, #messages ol li iframe {
    height: 85px;
    width: 100px;
}

#media ol li video, #media ol li iframe {
    height: 253px;
    width: 450px;
}

#media ol li audio {
    width: 97%;
}

ol li time {
    color: #aaa;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    margin: 10px;
}

ol li > img {
    height: 45px;
    width: 45px;
}

ol li p em {
    font-style: italic;
}

ol li p img {
    max-width: 100%;
}

ol li a.delete {
    background-color: #fff;
    border-radius: 8px;
    color: #da3321;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 17px;
    padding: 10px 8px 3px 8px;
    position: absolute;
    right: 0px;
    top: -10px;
}

ol li a.delete:hover {
    background-color: #da3321;
    color: #fff;
}

form button {
    display: none;
}

form input {
    border: 1px solid #eee;
    border-radius: 5px;
    color: #606060;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    width: 95%;
}

ol li p {
    margin-top: 10px;
}

form input , ol li {
    font-family: 'LeagueGothicRegular';
    font-size: 22px;
}

form.font2 input, .font2 {
    font-family: 'FanwoodRegular';
}

form.font3 input, .font3 {
    font-family: 'CartoGothicStdBold';
}

form.font4 input, .font4 {
    font-family: 'GoudyBookletter1911Regular';
}

form.font5 input, .font5 {
    font-family: 'DeutschGothicNormal';
    font-size: 24px;
}

form.font6 input, .font6 {
    font-family: 'CabinSketchRegular';
}

form.font7 input, .font7 {
    font-family: 'MomsTypewriterRegular';
}

#help {
    background-color: #f1ff7e;
    box-shadow: #222 10px 10px 0px;
    cursor: pointer;
    display: none;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 16px;
    opacity: .95;
    padding: 20px 10px 20px 10px;
    position: absolute;
    top: 146px;
}

#userList {
    background-color: #8fe4f9;
    box-shadow: #3c8da1 3px 3px 0px;
    color: #274850;
    display: none;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    max-width: 80%;
    opacity: .97;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 270px;
    top: -10px;
}

#help li {
    margin-bottom: 5px;
}

#help span {
    color: #3b7ca1;
    font-size: 22px;
    padding-right: 5px;
}

#help h2, #userList h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#userList h2 ul li {
    font-size: 18px;
}

.nick-highlight {
  background-color: #d5ffff;
}

.nick-highlight time {
    color: #397170;
}

@media only screen and (min-width: 1100px) and (max-width: 1350px) {
    #messages {
        margin-right: 5px;
        width: 50%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    #messages {
        margin-right: 10px;
        width: 45%;
    }
}

@media only screen and (max-width: 999px) {
    #messages {
        width: 100%;
    }
    #messages ol li video, #messages ol li iframe {
        height: 281px;
        width: 500px;
    }
    #messages ol li audio {
        width: 97%;
    }
    #media {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #messages ol li video, #messages ol li iframe {
        height: 168px;
        width: 300px;
    }
}

@media only screen and (max-width: 500px) {
    #help {
        width: 270px;
    }

    #userList {
        left: 28px;
        top: 70px;
        width: 200px;
    }
}

@media only screen and (max-width: 350px) {
    #messages ol li video, #messages ol li iframe {
        height: 151px;
        width: 270px;
    }

    #info {
        right: 0px;
    }
}
