/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#hush {
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 24;
    opacity: 0.8;
    display: none;
}

img.hush {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 25;
    margin-left: 0px;
    margin-top: 0px;
    border: 6px solid white;
}

/* main styles */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CPMono_v07Plain';
    src: url('../fonts/CPMono_v07_Plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DeutschGothicNormal';
    src: url('../fonts/Deutsch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../fonts/CabinSketch-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatinModernMono10Regular';
    src: url('../fonts/lmmono10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamboRegular';
    src: url('../fonts/Cambo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eae9e6;
    padding: 10px;
    font: 16px Helvetica, Arial, sans-serif;
}

h1 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    float: left;
    font-size: 1px;
    height: 46px;
    margin: 0px;
    text-indent: -9999px;
    width: 46px;
    float: left;
}

a {
    color: #2e87c6;
    outline: none;
    text-decoration: none;
}

#header {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

#info {
    position: absolute;
    right: 20px;
    top: 10px;
}

#messages {
    float: left;
    width: 62.7%;
}

#messages li .media-link {
    display: none;
}

#media .media-link {
    display: none;
}

#media {
    float: left;
    width: 480px;
}

ol {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ol li, #profile {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: #ccc -1px -1px 0px;
    clear: both;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 97.5%;
}

ol li span.nick {
    color: #222;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    left: 55px;
    position: absolute;
    top: 5px;
}

ol li iframe, ol li audio, ol li video, ol li object {
    clear: both;
    display: block;
    float: left;
    margin: 10px;
}

body[data-options="mediaOff"] #messages li p iframe,
body[data-options="mediaOff"] #messages li p object,
body[data-options="mediaOff"] #messages li p img,
body[data-options="mediaOff"] #messages li p audio,
body[data-options="mediaOff"] #messages li p video {
    display: none;
}

body[data-options="mediaOff"] #media {
    display: none;
}

body[data-options="mediaOff"] #messages li .media-link {
    display: block;
}

#messages ol li {
    text-overflow: hidden;
}

#messages ol li p {
    margin-top: 5px;
}

#messages ol li audio {
    width: 100px;
}

#media ol li audio {
    width: 97%;
}

#messages ol li video, #messages ol li iframe, #messages ol li object {
    height: 85px;
    padding-top: 20px;
    overflow: hidden;
    width: 100px;
}

#media ol li video, #media ol li iframe, #media ol li object {
    height: 253px;
    overflow: hidden;
    width: 450px;
}

#media ol li .rdio {
  height: 80px;
}

#media ol li audio {
    width: 97%;
}

ol li time {
    color: #999;
    float: right;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 14px;
}

ol li img.avatar {
    float: left;
    height: 20px;
    margin-bottom: 5px;
    width: 20px;
}

ol li img.avatar:hover {
    height: 40px;
    width: 40px;
}

ol li p {
    clear: both;
    float: left;
}

#media ol li > img {
    height: auto;
    max-width: 465px;
    margin: 5px 0px 5px 0px;
    width: auto;
}

ol li p em {
    font-style: italic;
}

ol li p img {
    max-width: 50px;
}

ol li p .avatar.join {
    margin-right: 10px;
}

ol li a.delete, a.close {
    background-color: #fff;
    border-radius: 6px;
    color: #da3321;
    cursor: pointer;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 8px 6px 3px 6px;
    position: absolute;
    right: 0px;
    top: -10px;
}

ol li a.delete:hover, a.close:hover {
    background-color: #da3321;
    color: #fff;
}

form button {
    display: none;
}

form input {
    border: 0px;
    border-radius: 5px;
    box-shadow: #ccc -1px -1px 0px;
    color: #606060;
    font-size: 20px;
    margin: 3px 0px 0px 0px;
    padding: 5px;
    width: 85%;
}

form input , ol li, form.font1, .font1, form.font2, .font2 {
    font-family: 'CPMono_v07Plain';
    font-size: 15px;
}

form.font3 input, .font3 {
    font-family: 'CartoGothicStdBook';
    font-size: 15px;
}

form.font4 input, .font4 {
    font-family: 'GoudyBookletter1911Regular';
}

form.font5 input, .font5 {
    font-family: 'DeutschGothicNormal';
    font-size: 17px;
}

form.font6 input, .font6 {
    font-family: 'CabinSketchRegular';
}

form.font7 input, .font7 {
    font-family: 'LatinModernMono10Regular';
    font-size: 15px;
}

form.font8 input, .font8 {
    font-family: 'CamboRegular';
}

.info-block {
    background-color: #fff;
    border-radius: 3px;
    color: #666;
    display: none;
    font-family: 'BebasNeueRegular';
    font-size: 15px;
    max-width: 72.5%;
    opacity: .98;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 8px;
    top: 55px;
    width: 72.5%;
}

.info-block li {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: #ccc -1px -1px 0px;
    cursor: pointer;
    float: left;
    margin: 0px 0px 5px 5px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
}

.info-block li:hover, .info-block li:hover span, .info-block li:hover a {
    background-color: #45c2c1;
    color: #fff;
}

.info-block li img {
    border-radius: 3px;
    margin-right: 10px;
}

.info-block li a {
    color: #e35f07;
}

.info-block span, .info-block img {
    color: #e35f07;
    display: block;
    float: left;
}

.info-block h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.nick-highlight {
  background-color: #d5ffff;
}

.nick-highlight time {
    color: #397170;
}

#profile img, #profile h2 {
    float: left;
}

#profile img {
    border-radius: 3px;
}

#profile h2 {
    color: #aaa;
    font-family: 'BebasNeueRegular';
    font-size: 20px;
    padding-left: 10px;
}

.profile img.avatar {
    display: none;
}

.profile span.nick {
    left: 10px;
}

body.error h1 {
    background-image: none;
    color: #bbb;
    font-family: 'GoudyBookletter1911Regular';
    font-size: 25px;
    text-indent: 0px;
    text-shadow: #fff 1px 1px 0px;
    width: 100%;
}

body.error h2 {
    color: #222;
    font-family: 'BebasNeueRegular';
    font-size: 50px;
}

body.error .arrow {
    font-size: 50px;
    padding-right: 5px;
}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
    .wrapper {
        clear: both;
        float: left;
        width: 1000px;
    }
    #messages {
        margin-right: 10px;
        width: 500px;
    }
    #media {
        width: 480px;
    }
    #profile {
        width: 979px;
    }
    body[data-options="mediaOff"] #messages {
        width: 97%;
    }

    form input {
        width: 84%;
    }
}

@media only screen and (min-width: 821px) and (max-width: 999px) {
    .wrapper {
        width: 821px;
    }
    #messages {
        margin-right: 15px;
        width: 325px;
    }
    #profile {
        width: 810px;
    }
    #media {
        width: 480px;
    }
    body[data-options="mediaOff"] #messages {
        width: 97%;
    }

    form input {
        width: 770px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 820px) {
    .wrapper {
        width: 641px;
    }
    form input {
        width: 72%;
    }
    #messages ol li p img {
        width: 100%;
    }
    #messages {
        width: 640px;
    }
    #profile {
        width: 625px;
    }
    form input {
        width: 585px;
    }
    #media {
        display: none;
    }
    ol li p img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 361px) and (max-width: 640px) {
    #messages {
        width: 349px;
    }
    #profile {
        width: 340px;
    }
    #messages ol li video, #messages ol li iframe, #messages ol li object {
        height: 180px;
        width: 320px;
    }
    #messages ol li p img {
        width: 100%;
    }
    #media {
        display: none;
    }
    body[data-options="mediaOff"] #messages ol li {
        width: 97%;
    }
    ol li p img {
        max-width: 100%;
    }
    form input {
        width: 293px;
    }

    #profile h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 240px;
    }
    .info-block li {
        width: 260px;
    }
    ol li span.nick {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 145px;
    }
}

@media only screen and (max-width: 360px) {
    .wrapper {
        width: 320px;
    }
    #messages {
        width: 300px;
    }
    #profile {
        width: 300px;
    }
    #media {
        display: none;
    }
    #messages ol li p img {
        max-width: 100%;
        width: 100%;
    }
    #profile h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 210px;
    }
    #messages ol li video, #messages ol li iframe, #messages ol li object {
        height: 154px;
        width: 275px;
    }
    form input {
        width: 240px;
    }
    body[data-options="mediaOff"] #messages ol li {
        min-width: 310px;
    }
    ol li span.nick {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 145px;
    }
}
