/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#hush {
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 24;
    opacity: 0.8;
    display: none;
}

img.hush {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 25;
    margin-left: 0px;
    margin-top: 0px;
    border: 6px solid white;
}

/* main styles */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CPMono_v07Plain';
    src: url('../fonts/CPMono_v07_Plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DeutschGothicNormal';
    src: url('../fonts/Deutsch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../fonts/CabinSketch-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicZineOTRegular';
    src: url('../fonts/comic_zine_ot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamboRegular';
    src: url('../fonts/Cambo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d5d9cd;
    padding: 20px;
    font: 16px Helvetica, Arial, sans-serif;
}

h1 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    float: left;
    font-size: 1px;
    height: 46px;
    margin: 0px;
    text-indent: -9999px;
    width: 46px;
    float: left;
}

a {
    color: #2e87c6;
    outline: none;
    text-decoration: none;
}

#header {
    margin-bottom: 20px;
}

#header {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

#info {
    position: absolute;
    right: 20px;
    top: 10px;
}

#header a, #header .connected {
    background-color: #c6ccba;
    border-radius: 3px;
    box-shadow: #b1ba9e -1px -1px 0px;
    color: #707860;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 10px;
    max-width: 85px;
    overflow: hidden;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

#messages {
    float: left;
    width: 60%;
}

#media {
    float: left;
    width: 480px;
}

ol {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ol li {
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: #ccc -1px -1px 0px;
    clear: both;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 97%;
}

ol li span.nick {
    background-color: #8fe4f9;
    box-shadow: #3c8da1 3px 3px 0px;
    color: #274850;
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    left: 60px;
    padding: 8px 7px 0px 7px;
    position: absolute;
    top: -5px;
}

ol li iframe, ol li audio, ol li video {
    clear: both;
    display: block;
    float: left;
    margin: 10px;
}

#messages ol li {
    text-overflow: hidden;
}

#messages ol li audio {
    width: 100px;
}

#media ol li audio {
    width: 97%;
}

#messages ol li video, #messages ol li iframe {
    height: 85px;
    width: 100px;
}

#media ol li video, #media ol li iframe {
    height: 253px;
    width: 450px;
}

#media ol li audio {
    width: 97%;
}

ol li time {
    color: #aaa;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 17px;
    margin: 10px;
}

ol li > img {
    height: 45px;
    width: 45px;
}

ol li p em {
    font-style: italic;
}

ol li p img {
    max-width: 100%;
}

ol li a.delete, a.close {
    background-color: #fff;
    border-radius: 8px;
    color: #da3321;
    cursor: pointer;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 17px;
    padding: 10px 8px 3px 8px;
    position: absolute;
    right: 0px;
    top: -10px;
}

ol li a.delete:hover, a.close:hover {
    background-color: #da3321;
    color: #fff;
}

form button {
    display: none;
}

form input {
    border: 0px;
    border-radius: 5px;
    box-shadow: #ccc -1px -1px 0px;
    color: #606060;
    font-size: 20px;
    margin: 5px 0px 0px 15px;
    padding: 5px;
    width: 85%;
}

ol li p {
    margin-top: 10px;
}

form input , ol li {
    font-family: 'LeagueGothicRegular';
    font-size: 22px;
}

form.font2 input, .font2 {
    font-family: 'CPMono_v07Plain';
    font-size: 20px;
}

form.font3 input, .font3 {
    font-family: 'CartoGothicStdBook';
    font-size: 20px;
}

form.font4 input, .font4 {
    font-family: 'GoudyBookletter1911Regular';
}

form.font5 input, .font5 {
    font-family: 'DeutschGothicNormal';
    font-size: 24px;
}

form.font6 input, .font6 {
    font-family: 'CabinSketchRegular';
}

form.font7 input, .font7 {
    font-family: 'ComicZineOTRegular';
    font-size: 27px;
}

form.font8 input, .font8 {
    font-family: 'CamboRegular';
}

.info-block {
    background-color: #8fe4f9;
    border-radius: 3px;
    box-shadow: #60bdd4 1px 1px 0px;
    color: #274850;
    display: none;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    max-width: 80%;
    opacity: .98;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 80px;
    width: 90%;
}

#help {
    background-color: #fff286;
    box-shadow: #929328 1px 1px 0px;
    color: #706124;
    font-family: 'CPMono_v07Plain', monospace;
    font-size: 11px;
}

.info-block li {
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    padding: 3px;
    width: 280px;
}

#userList li, #channelList li {
    background-color: #aaeeff;
    height: 26px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px 3px 1px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#channelList li {
    height: 24px;
    padding-bottom: 0px;
}

#channelList li a {
    display: block;
}

#userList li span, #userList li img, #channelList li span {
    display: block;
    float: left;
}

#userList li span, #channelList li span {
    line-height: 27px;
}

#userList li:hover, #channelList li:hover {
    background-color: #c7f4ff;
}

#userList li img {
    margin-right: 10px;
}

#help li {
    background-color: #fffad3;
    margin-bottom: 5px;
}

#help span {
    color: #e35f07;
    display: block;
    font-size: 16px;
    padding-right: 5px;
}

.info-block h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#help h2 {
    letter-spacing: -1px;
}

#userList h2 ul li, #channelList h2 ul li {
    font-size: 18px;
}

.nick-highlight {
  background-color: #d5ffff;
}

.nick-highlight time {
    color: #397170;
}

@media only screen and (min-width: 1100px) and (max-width: 1350px) {
    #messages {
        margin-right: 5px;
        width: 53%;
    }

    form input {
        width: 84%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    #messages {
        margin-right: 10px;
        width: 45%;
    }

    form input {
        width: 80%;
    }
}

@media only screen and (max-width: 999px) {
    #messages {
        width: 100%;
    }
    #messages ol li video, #messages ol li iframe {
        height: 281px;
        width: 500px;
    }
    #messages ol li audio {
        width: 97%;
    }
    #media {
        display: none;
    }
    form input {
        width: 79%;
    }
}

@media only screen and (max-width: 820px) {
    form input {
        width: 72%;
    }
}

@media only screen and (max-width: 620px) {
    #messages ol li video, #messages ol li iframe {
        height: 163px;
        width: 290px;
    }
    form input {
        clear: both;
        float: left;
        margin: 10px 0px 0px 0px;
        width: 98%;
    }
    #userList, #help {
        left: 20px;
        top: 130px;
    }
}

@media only screen and (max-width: 350px) {
    #messages ol li video, #messages ol li iframe {
        height: 151px;
        width: 270px;
    }
    #info {
        right: 0px;
    }

}
