/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FanwoodRegular';
    src: url('../fonts/Fanwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DeutschGothicNormal';
    src: url('../fonts/Deutsch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../fonts/CabinSketch-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MomsTypewriterRegular';
    src: url('../fonts/Moms_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #bac2ac;
    padding: 20px;
    font: 16px Helvetica, Arial, sans-serif;
}

h1 {
    color: #eee;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 25px;
    text-shadow: #939e7e 7px 5px 0px;
    text-transform: uppercase;
}

a {
    color: #2e87c6;
    outline: none;
    text-decoration: none;
}

#header, #message {
    clear: both;
    float: left;
    width: 100%;
}

#info {
    float: right;
    position: absolute;
    right: 30px;
    top: -10px;
}

#header a, #header .connected {
    color: #fff;
    display: block;
    float: left;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 13px;
    max-width: 85px;
    overflow: hidden;
    padding: 15px 8px 5px 8px;
    white-space: nowrap;
}

.connected { cursor: pointer; }

#header a {
    background-color: #cd9025;
    box-shadow: #ddc256 5px 5px 0px;
}

#header .connected {
    background-color: #9c9688;
    box-shadow: #787263 5px 5px 0px;
}

a.github {
    border: 0;
    position: absolute;
    right: 0px;
    top: 0px;
}

ol {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ol li {
    background-color: #f2f2f2;
    clear: both;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 95%;
}

ol li span.nick {
    background-color: #8fe4f9;
    box-shadow: #3c8da1 3px 3px 0px;
    color: #274850;
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 20px;
    left: 60px;
    padding: 8px 7px 0px 7px;
    position: absolute;
    top: -5px;
}

ol li iframe {
    clear: both;
    display: block;
    float: left;
    margin: 10px;
}

ol li time {
    color: #aaa;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    margin: 10px;
}

ol li > img {
    height: 45px;
    width: 45px;
}

ol li p em {
    font-style: italic;
}

ol li p img {
    max-width: 100%;
}

ol li a.delete {
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

form button {
    display: none;
}

form input {
    color: #606060;
    font-size: 25px;
    margin: 10px 0px 20px 0px;
    padding: 5px;
    width: 95%;
}

ol li p {
    margin-top: 10px;
}

form input , ol li p {
    font-family: 'LeagueGothicRegular';
    font-size: 25px;
}

form.font2 input, .font2 p {
    font-family: 'FanwoodRegular';
}

form.font3 input, .font3 p {
    font-family: 'CartoGothicStdBold';
}

form.font4 input, .font4 p {
    font-family: 'GoudyBookletter1911Regular';
}

form.font5 input, .font5 p {
    font-family: 'DeutschGothicNormal';
}

form.font6 input, .font6 p {
    font-family: 'CabinSketchRegular';
}

form.font7 input, .font7 p {
    font-family: 'MomsTypewriterRegular';
}

#help {
    background-color: #fff;
    box-shadow: #888 10px 10px 0px;
    display: none;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    opacity: .95;
    padding: 20px 10px 20px 10px;
    position: absolute;
    max-width: 80%;
}

#userList {
    background-color: #fff;
    box-shadow: #888 10px 10px 0px;
    display: none;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 18px;
    opacity: .95;
    padding: 20px 10px 20px 10px;
    position: absolute;
    right: 121px;
    max-width: 80%;
}

#help li {
    margin-bottom: 5px;
}

#help span {
    color: #3b7ca1;
    font-size: 22px;
    padding-right: 5px;
}

#help h2, #userList h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#userList h2 ul li {
    font-size: 18px;
}

#footer {

}

.nick-highlight {
  background-color: #d5ffff;
}

.nick-highlight time {
    color: #397170;
}
